body{font-family:'Asap Condensed', sans-serif !important;}
.info {
    width: 100%;
    text-align: center;
}
.info img {
    width: 64%;
    display: block;
    padding: 10px;
    margin:0 auto;
}
.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
}
li.nav-item.dropdown .dropdown-menu.show{    transform: translate3d(0px, 0px, 0px) !important;
    left: 18% !important;
    margin-top: -46px !important;}
li.nav-item.dropdown:last-child .dropdown-menu, li.nav-item.dropdown:nth-child(13) .dropdown-menu, li.nav-item.dropdown:nth-child(12) .dropdown-menu {
    bottom: 0px;
    transform: translate3d(0px, 0px, 0px) !important;
}

.sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar::before {

    margin-left: 0;

    width: 0;

}

.sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {

    margin-left: 0 !important;

}

.d-block {

    color: yellow;

}

.d-block span {

    color: #fff;

    width: 100%;

    display: block;

}

.logo_area {

    width: 100%;
    float: left;
    display: flex;
    background: #42444a;
    padding: 5px 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;

}

span.brand-text.font-weight-light {

    WIDTH: 100%;

    FONT-SIZE: LARGE;

    DISPLAY: BLOCK;

    TEXT-ALIGN: CENTER;

    COLOR: #000;

    FONT-WEIGHT: bold !IMPORTANT;

    TEXT-DECORATION: UNDERLINE;

    MARGIN-TOP: 5PX;

}

.brand-link {

    display: block;

    font-size: 1.25rem;

    line-height: 1.5;

    padding: .8125rem .5rem;

    transition: width .3s ease-in-out;

    white-space: nowrap;

    margin: 0;

    padding: 0;

    border: none !important;

}

a.nav-link p {

    color:#000;

    font-weight: bold;

}

a.nav-link p:hover, .nav-item:hover a.nav-link p {

    color:#fb3199;
    background-color:#ebebec;

}
.das2_nav .nav-item:hover a.nav-link {
    background: transparent !important;
}

.sidebar{

    background-color:#fff;

}

i.fa.fa-bars {

    color: #fff;

}

.nav-item {

    border-bottom: none;

}

.os-content{

    padding: 0px !important;

}

.mt-2, .my-2 {

    margin-top:0px !important;

}

.navbar-white { background-color:#42444a !important;}
.main-header{border:1px solid #000;}
.form-control-sidebar {

    border-radius: 10px !important;

    border: 1px solid #000;

    margin-left: 10px !important;

    float: left;

    display: block;

    color: #000;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */

  color:#000 !important;

  opacity: 1; /* Firefox */

}

.mini_logoright {

    width: 35px;

    float: left;

    display: block;

    margin-left: 10px;

}







.card {

    float: left;

    display: block;

    border-style: solid;

    border-color: #b8407b;

    border-width: 1px;

    border-radius: 0px 0px;

    box-shadow: 0px 0px 5px 1px #888888;

    margin-right: 0;

    width: 100% !important;

}

img.box_icon {

    float: left;

    display: block;

    width: 100%;

    height: 100%;





}

.number {

    width: 100%;

    float: left;

    display: block;

    color: red;

    font-weight: bold;

   font-size: 32px;

    text-align: center;

    line-height: 34px;

}

.num_heading {

   width: 100%;

    float: left;

    display: block;

    color: black;

    font-size: 13px;

    font-weight: 600;

        min-height:34px;

    text-align: center;

    line-height: 16px;

}

.box_heading {

    width: 100%;

    float: left;

    display: block;

}

.box_heading a {

    color: red;

    font-size: 14px;

    float: left;

    width: 100%;

    text-decoration: none;

    line-height:25px;

}

i.icon_img {

    float: right;

    display: block;

    margin-top:2px;

    font-size: 20px;

}

.part1 {

    width: 100%;

    float: left;

    padding:6px;

    display: block;

    background:#fff8ae;

}

.part2 {

    width:100%;

    float: left;

    display: block;

    padding: 0 10px;

    border-top-style: solid;

    border-top-color: #b8407b;

    border-top-width: 1px;

}

.img_area {

       float: left;

    display: block;

    margin-right: 0px !important;

    margin-top: 10px;

    background: #fff;
     width: 58px;
    height: 65px;

    overflow: hidden;

    padding: 6px;

    border: 1px solid;

}

.head_area{

    width: 84px;

    float: right;

    display: block;

}

.content-wrapper>.content {

    padding: 0 2rem;

}

.content-header {

    padding: 15px 2rem;

}



.color-yellow {background: yellow;}



.new_col{background-color:#faf165;}



.nav-sidebar>.nav-item {

    margin-bottom: 0;

    border-bottom: 1px solid #d2d2d4;

}

nav.main-header.navbar.navbar-expand.navbar-white.navbar-light input.form-control.form-control-sidebar {

    display: block;

}

.layout-fixed .wrapper .sidebar {
    height:calc(80vh - (3.5rem + 0px)) !important;
}

.dropdown-content.panel-collapse.noti_box.right_align ul {
    overflow-y: visible;
    overflow-x: hidden;
    min-height: 457px;
}
.preloader img.animation__shake {
    width: 250px;
    height: auto;
}
.header-left-box {
    justify-content: left;
   width:72%;
    margin-right: 1%;
}

.header-left-box .input-group {
   width: 94%;
    background: #fff;
    padding: 5px 0;
}
.header-left-box .input-group input.form-control {
    border-radius: 0 !important;
    border: none;
    border-right: 1px solid #333;
}

.header-left-box .input-group input.form-control:last-child {
    border: none;
}


.content-header h1 {

    font-size: 22px;

    font-weight: 700;

    font-family: 'Asap Condensed', sans-serif !important;

}


.nav-sidebar .nav-link p{font-size: 15px !important;font-weight: bold;}




/*-------admin-1 box css---------*/





.admin-1 .col-md-2:nth-child(1) .part1 {

    background: #fff8ad;

}

.admin-1 .col-md-2:nth-child(1) .card {

    border-color: #fb6f24;

}

.admin-1 .col-md-2:nth-child(1) .img_area {

    border-color: #fb6f24;

}

.admin-1 .col-md-2:nth-child(1)  .part2 {

    border-color: #fb6f24;

}

.admin-1 .col-md-2:nth-child(1) .number {

    color: #f30100;

}

.admin-1 .col-md-2:nth-child(1) .box_heading a {

    color: #f30100;

}



.admin-1 .col-md-2:nth-child(2) .part1 {

    background: #fffaa4;

}

.admin-1 .col-md-2:nth-child(2) .card {

    border-color: #fb6f24;

}

.admin-1 .col-md-2:nth-child(2) .img_area {

    border-color: #fb6f24;

}

.admin-1 .col-md-2:nth-child(2)  .part2 {

    border-color: #fb6f24;

}

.admin-1 .col-md-2:nth-child(2) .number {

    color:#EC268F;

}

.admin-1 .col-md-2:nth-child(2) .box_heading a {

    color:#EC268F !important ;

}



.admin-1 .col-md-2:nth-child(3) .part1 {

    background: #fff8ad;

}

.admin-1 .col-md-2:nth-child(3) .card {

    border-color: #fb6f24;

}

.admin-1 .col-md-2:nth-child(3) .img_area {

    border-color: #fb6f24;

}

.admin-1 .col-md-2:nth-child(3)  .part2 {

    border-color: #fb6f24;

}

.admin-1 .col-md-2:nth-child(3) .number {

    color:#EC268F;

}

.admin-1 .col-md-2:nth-child(3) .box_heading a {

    color:#EC268F !important;

}









.admin-1 .col-md-2:nth-child(4) .part1 {

    background: #FECE5E;

}

.admin-1 .col-md-2:nth-child(4) .card {

    border-color: #EC9E4F;

}

.admin-1 .col-md-2:nth-child(4) .img_area {

    border-color:#EC9E4F;

}

.admin-1 .col-md-2:nth-child(4)  .part2 {

    border-color:#EC9E4F;

}

.admin-1 .col-md-2:nth-child(4) .number {

    color: #e10d0a;

}

.admin-1 .col-md-2:nth-child(4) .box_heading a {

    color:#ff0000;

}







.admin-1 .col-md-2:nth-child(5) .part1 {

    background:#FECE5E;

}

.admin-1 .col-md-2:nth-child(5) .card {

    border-color:#16A8E1;

}

.admin-1 .col-md-2:nth-child(5) .img_area {

    border-color: #16A8E1;

}

.admin-1 .col-md-2:nth-child(5)  .part2 {

    border-color:#16A8E1;

}

.admin-1 .col-md-2:nth-child(5) .number {

    color: #fb0200;

}

.admin-1 .col-md-2:nth-child(5) .box_heading a {

    color:#ff0000;

}







.admin-1 .col-md-2:nth-child(6) .part1 {

    background:#FECE5E;

}

.admin-1 .col-md-2:nth-child(6) .card {

    border-color:#C788B1;

}

.admin-1 .col-md-2:nth-child(6) .img_area {

    border-color:#C788B1;

}

.admin-1 .col-md-2:nth-child(6)  .part2 {

    border-color:#C788B1;

}

.admin-1 .col-md-2:nth-child(6) .number {

    color: #e70d0e;

}

.admin-1 .col-md-2:nth-child(6) .box_heading a {

    color: #ff0000;

}











.admin-1 .col-md-2:nth-child(7) .part1 {

    background: #fbdeeb;

}

.admin-1 .col-md-2:nth-child(7) .card {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(7) .img_area {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(7)  .part2 {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(7) .number {

    color: #ff0000;

}

.admin-1 .col-md-2:nth-child(7) .box_heading a {

    color: #ff0000;

}





.admin-1 .col-md-2:nth-child(8) .part1 {

    background: #fbdeeb;

}

.admin-1 .col-md-2:nth-child(8) .card {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(8) .img_area {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(8)  .part2 {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(8) .number {

    color:#93356F;

}

.admin-1 .col-md-2:nth-child(8) .box_heading a {

    color:#93356F;

}





.admin-1 .col-md-2:nth-child(9) .part1 {

    background: #fbdeeb;

}

.admin-1 .col-md-2:nth-child(9) .card {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(9) .img_area {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(9)  .part2 {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(9) .number {

    color:#93356F;

}

.admin-1 .col-md-2:nth-child(9) .box_heading a {

    color:#93356F;

}





.admin-1 .col-md-2:nth-child(10) .part1 {

    background: #fbdeeb;

}

.admin-1 .col-md-2:nth-child(10) .card {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(10) .img_area {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(10)  .part2 {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(10) .number {

    color:#93356F;

}

.admin-1 .col-md-2:nth-child(10) .box_heading a {

    color:#93356F;

}





.admin-1 .col-md-2:nth-child(11) .part1 {

    background: #fbdeeb;

}

.admin-1 .col-md-2:nth-child(11) .card {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(11) .img_area {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(11)  .part2 {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(11) .number {

    color:#93356F;

}

.admin-1 .col-md-2:nth-child(11) .box_heading a {

    color:#93356F;

}





.admin-1 .col-md-2:nth-child(12) .part1 {

    background: #fbdeeb;

}

.admin-1 .col-md-2:nth-child(12) .card {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(12) .img_area {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(12)  .part2 {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(12) .number {

    color: #93356F;

}

.admin-1 .col-md-2:nth-child(12) .box_heading a {

    color: #93356F;

}





.admin-1 .col-md-2:nth-child(13) .part1 {

    background: #d8f0fc;

}

.admin-1 .col-md-2:nth-child(13) .card {

    border-color: #2b318f;

}

.admin-1 .col-md-2:nth-child(13) .img_area {

    border-color: #2b318f;

}

.admin-1 .col-md-2:nth-child(13)  .part2 {

    border-color: #2b318f;

}

.admin-1 .col-md-2:nth-child(13) .number {

    color: #ff0514;

}

.admin-1 .col-md-2:nth-child(13) .box_heading a {

    color: #ff0514;

}





.admin-1 .col-md-2:nth-child(14) .part1 {

    background: #d9f0fd;

}

.admin-1 .col-md-2:nth-child(14) .card {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(14) .img_area {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(14)  .part2 {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(14) .number {

    color: #2e3192;

}

.admin-1 .col-md-2:nth-child(14) .box_heading a {

    color: #2e3192;

}





.admin-1 .col-md-2:nth-child(15) .part1 {

    background: #d9f0fd;

}

.admin-1 .col-md-2:nth-child(15) .card {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(15) .img_area {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(15)  .part2 {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(15) .number {

    color: #2e3192;

}

.admin-1 .col-md-2:nth-child(15) .box_heading a {

    color: #2e3192;

}





.admin-1 .col-md-2:nth-child(16) .part1 {

    background: #d9f0fd;

}

.admin-1 .col-md-2:nth-child(16) .card {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(16) .img_area {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(16)  .part2 {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(16) .number {

    color: #2e3192;

}

.admin-1 .col-md-2:nth-child(16) .box_heading a {

    color: #2e3192;

}





.admin-1 .col-md-2:nth-child(17) .part1 {

    background: #d9f0fd;

}

.admin-1 .col-md-2:nth-child(17) .card {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(17) .img_area {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(17)  .part2 {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(17) .number {

    color:#2e3192;

}

.admin-1 .col-md-2:nth-child(17) .box_heading a {

    color: #2e3192;

}





.admin-1 .col-md-2:nth-child(18) .part1 {

    background: #d9f0fd;

}

.admin-1 .col-md-2:nth-child(18) .card {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(18) .img_area {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(18)  .part2 {

    border-color: #2e3192;

}

.admin-1 .col-md-2:nth-child(18) .number {

    color: #2e3192;

}

.admin-1 .col-md-2:nth-child(18) .box_heading a {

    color: #2e3192;

}





.admin-1 .col-md-2:nth-child(19) .part1 {

    background: #e5ffb1;

}

.admin-1 .col-md-2:nth-child(19) .card {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(19) .img_area {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(19)  .part2 {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(19) .number {

    color: #ff0000;

}

.admin-1 .col-md-2:nth-child(19) .box_heading a {

    color: #ff0000;

}





.admin-1 .col-md-2:nth-child(20) .part1 {

    background: #e5ffb1;

}

.admin-1 .col-md-2:nth-child(20) .card {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(20) .img_area {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(20)  .part2 {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(20) .number {

    color: #039050;

}

.admin-1 .col-md-2:nth-child(20) .box_heading a {

    color:#039050;

}





.admin-1 .col-md-2:nth-child(21) .part1 {

    background: #e5ffb1;

}

.admin-1 .col-md-2:nth-child(21) .card {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(21) .img_area {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(21)  .part2 {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(21) .number {

    color:#039050;

}

.admin-1 .col-md-2:nth-child(21) .box_heading a {

    color:#039050;

}



.admin-1 .col-md-2:nth-child(22) .part1 {

    background: #e5ffb1;

}

.admin-1 .col-md-2:nth-child(22) .card {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(22) .img_area {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(22)  .part2 {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(22) .number {

    color:#039050;

}

.admin-1 .col-md-2:nth-child(22) .box_heading a {

    color:#039050;

}



.admin-1 .col-md-2:nth-child(23) .part1 {

    background: #e5ffb1;

}

.admin-1 .col-md-2:nth-child(23) .card {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(23) .img_area {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(23)  .part2 {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(23) .number {

    color:#039050;

}

.admin-1 .col-md-2:nth-child(23) .box_heading a {

    color:#039050;

}



.admin-1 .col-md-2:nth-child(24) .part1 {

    background: #e5ffb1;

}

.admin-1 .col-md-2:nth-child(24) .card {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(19) .img_area {

    border-color: #00a651;

}

.admin-1 .col-md-2:nth-child(24)  .part2 {

    border-color: #a0191f;

}

.admin-1 .col-md-2:nth-child(24) .number {

    color:#039050;

}

.admin-1 .col-md-2:nth-child(24) .box_heading a {

    color:#039050;

}



/*-------Dashboard-2 box css---------*/

.admin-2 .card {
    border-color: #2c3389;
    border-radius: 10px;
}
.admin-2 .col-md-2:nth-child(1)  .card{
    border-color: #000;
}
.admin-2 .card .part1 {
    border-radius: 10px 10px;
    background: #fff;
}
.admin-2 .card .part1 .img_area{
    border-radius:10px;
}
.admin-2 .card .part2{
    border-color:#2c3389;
}
.admin-2 .col-md-2:nth-child(1)  .part2{
    border-color:#000;
}
.admin-2 .col-md-2:nth-child(1)  .part1{
    background-color:#fff466;
}
.admin-2 .col-md-2:nth-child(2)  .part1{
    background-color:#ade1f9;
}
.admin-2 .col-md-2:nth-child(3)  .part1{
    background-color:#fcd160;
}
.admin-2 .col-md-2:nth-child(4)  .part1{
    background-color:#deeaa2;
}
.admin-2 .col-md-2:nth-child(5)  .part1{
    background-color:#f8cbc8;
}
.admin-2 .col-md-2:nth-child(6)  .part1{
    background-color:#c7c4e1;
}
.admin-2 .card .part1 {
    border-radius: 10px 10px 0px 0px;
}
.dashboard2 .nav-link img {
    width: 22px;
    float: left;
    display: block;
    height: 19px;
}
.dashboard2 .nav-link{
   margin: 0px;
    /*border: 1px solid #ebeaf1 !important;*/
    background: transparent;
    color: #fff !important;
    /*height: 38px;
    width: 38px;
    line-height: 24px;
    border-radius: 50px;
    font-size: 22px;*/
    
    }
.dashboard2 .nav-link {
    padding: 10px 5px !important;
}
.mini_logoright {
    width: 25px;
    float: left;
}
.admin_name {
    width: auto;
    float: left;
    display: none;
    font-size: 12px;
    color: #000;
}
.admin_area {
    width: 100px;
    text-align: center;
    float: left;
    display: block;
}
.mini_logoright2 {
       width: 100%;
    display: block;
}
aside .info {
    background-color: #fff;
    border: 1px solid #000;
}
aside .info a {
    color: #000 !important;
}
aside .info a span {
    color: #000 !important;
}
.layout-fixed .brand-link {
    width: auto;
}
a.admin_area {
    border: 1px solid #ebeaf1 !important;
    background: transparent;
    color: #fff !important;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    font-size: 22px;
    padding: 6px;
    box-sizing: border-box;
}

.dash_2 .brand-link .brand-image{margin: 5px 10px 5px 10px;
    float: left;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;}
.director_name {
    color: #fff;
    float: left;
    display: block;
    text-align: center;
    width:100%;
    font-size: 20px;
     margin-top: 10px;
    line-height: 24px;
}
.director_post {
    width: 100%;
    float: left;
    display: block;
    color: #fff;
    text-align: center;
}
.right_a {
    float: right;
    margin-top: 8px;
    color: #000;
}

aside li.nav-item:hover a, aside li.nav-item.active a, aside li.nav-item:hover i, aside li.nav-item.active i { color: #fb3199;}
.nav_icon {
    width: 25px;
    height: 25px;
    float: left;
    margin: 1px 10px 0px 0px;
    margin-right: 15px;
}
/*.das2_nav .nav-item {
    background-color: #fff466;
    border-color:#fcd160;
}*/
.das2_nav .nav-item:hover {
    color:#fb3199;
    background-color:#ebebec;
}
/*-------Dashboard-3 box css---------*/

.admin-3 .number{
    font-size: 26px;
}

.admin-3 .card {
    border-color: #2c3389;
    border-radius: 10px;
}
.admin-3 .col-md-2:nth-child(1)  .card{
    border-color: #000;
}
.admin-3 .card .part1 {
    border-radius: 10px 10px 0px 0px;
}
.admin-3 .card .part1 .img_area{
    border-color: #2c3389;
    border-radius: 10px;
}
.admin-3 .card .part2{
    border-color:#2c3389;
}
.admin-3 .col-md-2:nth-child(1)  .part2{
    border-color:#000;
}
.admin-3 .col-md-2:nth-child(1)  .part1{
    background-color:#fff466;
}
.admin-3 .col-md-2:nth-child(2)  .part1{
    background-color:#ade1f9;
}
.admin-3 .col-md-2:nth-child(3)  .part1{
    background-color:#fcd160;
}
.admin-3 .col-md-2:nth-child(4)  .part1{
    background-color:#deeaa2;
}
.admin-3 .col-md-2:nth-child(5)  .part1{
    background-color:#f8cbc8;
}
.admin-3 .col-md-2:nth-child(6)  .part1{
    background-color:#c7c4e1;
}
/*--------------------------------------------------------*/




.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
 box-shadow: 0px 0px 15px 1px rgb(69 65 78 / 20%);
  overflow: auto;
 /*border: 1px solid #dde5ef;*/
 width: 220px;
  z-index: 1;
  border-radius: 12px;
  right: 3px;
  overflow: visible;
  top: 50px;
}
.dropdown-content:after {
    content: '';
    position: absolute;
    top: -9px;
    right: 15px;
    border-bottom: 9px solid #6466a8;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 99999;
}
li.nav-item.search-box-css .dropdown-content:after{display: none;}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {color: #fb3199;
    background-color: #ebebec;}
    ul.navbar-nav.dashboard2.second_row_nav li:last-child span.qty {
    right: 6px;
}

.show {display: block;}
.requird_area {
    width:100%;
    float: left;
    display: block;
    border: 1px solid #42444a;
    background: #fff;
    padding:5px 10px;
}
.watch_ic {
    width: 26px;
    height: auto;
    float: left;
    display: block;
    margin-right: 10px;
}
.required_text {
    color: #000;
    float: left;
    display: block;
    width: auto;
}
.required_num {
    width: 50px;
    border: 1px solid #42444a;
    background: #ebebec;
    border-radius: 5px;
    color: #ff0000;
    FONT-SIZE: 15PX;
    text-align: center;
    float: right;
    font-weight: bold;
    padding: 0 5px;
}
.navbar{padding:0.73rem .5rem !important;}
.requird_area:nth-child(2){border-left:none; border-right:none;}
.th_head_icon {
    width: 40px;
    height: auto;
    float: left;
    display: block;
}
.th_head_icon img {
    width: 100% !important;
    height: auto !important;
    border: 2px solid #fff;
    border-radius: 15px;
}

.search-box-css .dropdown-content {
    left: 55px;
    width:71%;
    padding:0px 9px;
    border: 1px solid #000;
    top: 13px;
    border-radius:0px;
}
.search-box-css .dropdown-content input {
    width: 87%;
    border: none;
    background: no-repeat;
    font-size: 18px;
    outline: none !important;
    float: left;
    line-height: 34px;
}
.search-box-css .dropdown-content button {
    border: none;
    font-size: 18px;
    border-left: 1px solid #404040;
    width: 11%;
    float: left;
    border-radius: 0px;
    height: 36px;
}
::-webkit-input-placeholder { /* Edge */
  color: #bebdba !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bebdba !important;
}

::placeholder {
  color: #bebdba !important;
}
button.nav-link.th_head_icon.dropbtn {
    padding: 0px !important;
}


/*-----------css-for-top-right-part--------------*/


nav.main-header ul li button {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin:0px;
    text-align: center;
}
nav.main-header ul li button i {
    color: #fff;
    font-size: 21px;
    font-weight: 400 !important;
}
img.nav-link.th_head_icon.dropbtn {
    width: 100%;
    height: auto !important;
    padding: 0 !important;
}

 nav.main-header ul li:last-child button:hover{ transform: scale(1.1);  transition: all 300ms;}

.dashboard2 img {
    padding: 0 !important;
    display: inline-block;
    width: 100%;
    height: auto;
}

div#sidebar-overlay {
    display: none !important;
}

li.nav-item.search-box-css {
    position: inherit !important;
}

li.nav-item {
    position: relative;
}

.profile-box {
    width: 100%;
    float: left;
    border-bottom: 1px solid;
    background: #42444a;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 0 10px 0;
    border-top: 0;
    box-shadow: 0 6px 14px 2px rgb(0 0 0 / 20%);
}

.profile-box img {
    width: 100px;
    height: 100px;
    display: inline-block;
}
.profile-box {
    width: 100%;
    float: left;
    border-bottom: 1px solid #d8d8da;
    background: #6466a8;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 0 10px 0;
    border-top: 0;
    box-shadow: 0 6px 14px 2px rgb(0 0 0 / 20%);
    border-radius: 10px 10px 0px 0px;
}



.profile-box img {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50px;
}

.dropdown-content ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}
.dropdown-content ul li {
    list-style-type: none;
    border-top: 1px solid #a9a8a5;
    width: 100%;
    float: left;
    background: #fff;
    margin-left: 0;
}

.dropdown-content ul li a {
    padding: 7px 15px;
    float: left;
    width: 100%;
    font-size: 20px;
}

.dropdown-content ul li a i {
    float: left;
    margin-right: 10px;
}


/*.dropdown-content ul li a span {
    float: left;
    line-height: 20px;
    font-size: 16px;
    margin-left: 5px;
}*/
.dropdown-content ul li a span {
    float: left;
    line-height: 16px;
    font-size: 14px;
    margin-left: 5px;
}
.profile-box h6 {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0;
    font-size: 20px;
    margin-top: 6px;
}

.profile-box p {
    float: left;
    width: 100%;
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}

 .sidebar .dropdown-menu.show {
    left: 15.5% !important;
    position: fixed !important;
    top: auto !important;
    z-index: 999;
    background: #fff !important;
    bottom: auto;
    margin-top: -82px;
    border-radius: 0;
}


/*-------scrool-off------------*/

/*-------scrool-off------------*/
.res_btn {
    border-radius: 0px !important;
}
.dropdown-content.panel-collapse {
    border: 1px solid #a9a8a5;
}
.p_icon {
    width: 25px !important;
    height: 25px;
    float: left;
    margin: 1px 10px 0px 0px;
    margin-right: 15px;
    border:1px solid #000;
}
.dropdown-content ul li a span:hover{color:#fb3199;}
.dropdown-content ul li a:hover{background-color:#ebebec;}
.last_p { width: 50px !important;}
.dropdown-content ul li:nth-child(1){border-top:0px;}
.noti_box{width:310px;}
.notif_text {
    width: auto;
    float: left;
    display: block;
    margin:0px 0px 0px 17px;
    color: #fff;
    font-size: 18px;
}
.all_read {
    background: #ff9d00;
    border-radius: 10px;
    padding: 2px 10px;
    color: #fff;
    float: right;
    margin-right: 10px;
    font-size: 12px;
}
.noti_icon {
    width: 30px !important;
    float: left;
    display: block;
    height: auto;
    margin: 0px 10px 0px 0px;
}
.noti_text {
    font-size: 15px !important;
    /*margin-top: 10px;*/
}
.sub_text {
    font-size: 12px !important;
}
.view_area {
    width: 100%;
    float: left;
    display: block;
    margin-top: 0px;
    border-radius: 0px 0px 10px 10px;
    background:#6567a9;
}
.view_area a {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    color:#fff;
}
.second_row_nav {
    width: auto;
    float: right;
    display: block;
    position: relative;
}
.second_row_nav li {
    float: left;
    display: block;
    margin-left: 10px;
    text-align: center;
    position: relative;
}
.second_row_nav .panel-heading img {
    width: 100% !important;
    display: inline-block;
}
.second_row_nav .panel-heading {
    float: left;
    width: 36px;
    padding: 5px;
}
.second_row_nav li button {
    border: none;
    background-color: transparent;
    padding: 0;
    width: 50px;
    border: 1px solid #000;
    float: left;
    display: block;
    padding: 5px;
}
.second_row_nav li button i {
    font-size: 18px;
}
.second_row_nav .dropdown-content {
    right: 0px;
    top: 45px;
}
.right_li .right_align {
    position: fixed;
    top: 18%;
    z-index: 99999;
}
.no_radi::after{display:none;}
.asu_area {
    width: 100%;
    float: left;
    display: block;
    padding: 0px 15px;
}
.assu_text {
    font-size: 14px;
    font-style: italic;
    color: #fff;
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.asu_area a {
    display: block;
    float: right;
    padding: 0px;
}
.heart_ic {
    width: auto;
    float: right;
    color: #fff;
    font-size: 26px !important;
    margin-top: 5px;
}
.asu_area2 {
    width: 100%;
    float: left;
    display: block;
    padding: 0px;
}
.asu_area img {
    width: 100%;
    float: left;
    display: block;
    border: none;
}
.my_wh {
    width: 100%;
    float: left;
    display: block;
    text-align: left;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
.link_p {
    width: 100%;
    float: left;
    display: block;
    text-align: left;
    color: #fff;
    font-size: 12px;
}
.w_area {
    width: 100%;
    float: left;
    display: none;
    padding: 5px 15px;
    color: #ff007c;
    text-align: left;
    background: #fff;
    font-weight: bold;
    font-size: 17px;
}
.menu_txt_area {
    width: 70%;
    float: left;
    display: block;
}
.noti_text {
    /*width: 100%;*/
    float: left;
    display: block;
    text-align: left;
}
.sub_text {
    /*width: 100%;*/
    float: left;
    display: block;
    text-align: left;
}
.rat_star_area {
    width: auto;
    display: block;
    text-align: left;
    background: #00a755;
    color: #fff;
    /* padding: 2px; */
    border-radius: 5px;
    /* margin-right: 10px; */
    /* margin-top: 5px; */
    float: left;
    clear: both;
}

.rat_st {
    width: auto;
    display: block;
    font-size: 11px !important;
    margin: 1px;
}
.rat_star_area i {
    width: auto;
    float: left;
    display: block;
    font-size: 12px;
    margin: 3px 0px 0px 5px;
    padding: 0;
}
.rat_star_area i {
    width: auto;
    float: left;
    display: block;
    font-size: 11px;
    margin: 4px 0px 0px 5px;
    padding: 0;
}
.view_pe {
    width: auto;
    float: left;
    display: block;
    color: #000;
    margin-top: 2px;
}
.mini_ye {
    width: 60px !important;
    float: left;
    display: block;
    margin-left: 5px;
}
.wh_ic_area {
    width: 15%;
    float: left;
    display: block;
}
.wh_ic_area i {
    width: 100%;
    display: block;
    text-align: right;
    margin: 5px 0px 0px 0px;
    font-size: 20px;
}
.wh_ic_area i:nth-child(2) {
    color: #ff007c;
    font-size: 15px;
    margin-top:16px;
}

@media only screen and (max-width:600px){
    .no_after {left:0px !important;}
    .form-inline.header-left-box {
    width: 100%;
    float: left;
    display: block;
}
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light ul.navbar-nav.dashboard2 {
    display: block;
    text-align: center;
}

nav.main-header.navbar.navbar-expand.navbar-white.navbar-light ul.navbar-nav.dashboard2 li {
    display: inline-block;
}

.panel-heading {position:relative;}


ul.navbar-nav.dashboard2 {margin-top: 10px;}

ul.navbar-nav.dashboard2 {
    width: 100%;
    float: left;
}

nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
    display: block;
    float: left;
    width: 100%;
}

.content-header {
        float: left;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.right_li .right_align {
    position: absolute;
    top: 45px;
    z-index: 99999;
}
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light ul.navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light li.nav-item {
    position: initial !important;
}
.noti_box {
    width: 100% !important;
    left: 0;

}

ul.navbar-nav.dashboard2 {
     position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.search-box-css .dropdown-content.panel-collapse {
    width: 100%;
    left: 0;
    top: 55px;
}

.search-box-css .dropdown-content input {
    width: 83%;
}
ul.navbar-nav.dashboard2 li {
    position: initial !important;
}
.menu_txt_area {
    width: 66%;}
}


.das2_nav .nav-item:hover a {
    color: #000 !important;
}
.no_radi {
    border-radius: 0px;
    width: 320px;
    position: absolute;
    right: -85px;
    top: 52px;
}
.no_radi .profile-box {
    border-radius: 0px;
}
.no_radi ul li a {
    padding: 3px 10px;
}
.no_rd2 {
    border-radius: 0px;
}
.no_radi .noti_text {
    margin: 0;
}
.no_radi .sub_text {
    margin: 0;
    margin-bottom: 3.5px;
}
.qty {
       position: absolute;
    top: -2px;
    left: auto;
    color: #ee9c1f;
    font-size: 14px;
    right: auto;

}
.last_rad {
    background: #6466a8 !important;
    border-radius: 0px 0px 10px 10px;
}
.last_rad a{color:#fff;}
.last_rad a:hover{border-radius: 0px 0px 10px 10px; background: #6466a8 !important;}
.no_after {left: -145px;}




@media only screen and (max-width:480px){


}
@media only screen and (max-width:414px){

}

@media only screen and (max-width:400px){


}
@media only screen and (max-width:380px){


}