@media only screen and (min-width: 992px) and (max-width: 1199px) {
    nav.navbar.bootsnav ul.nav > li > a {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    nav.navbar.bootsnav .navbar-header {
        width: 100%;
    }
    .navbar-light .navbar-toggler {
        border-color: #d33b33;
        color: #010101;
        border-radius: 0px;
        margin-right: 7px;
        padding-top: 6px;
        padding-top: 6px;
        float: left;
        margin-top: 20px;
    }
    nav.navbar.bootsnav ul.nav > li > a {
        padding: 5px 15px;
    }
    nav.navbar.bootsnav .navbar-nav {
        padding: 0px;
        margin: 0px;
    }
    .custom-select-box {
        display: none;
    }
    .attr-nav {
        top: 10px;
    }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu {
        position: initial !important;
        top: 0px;
    }
    nav.bootsnav .megamenu-content .col-menu {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-menu .title {
        font-size: 16px;
    }
    .product-item-filter p {
        float: none;
    }
    .product-item-filter {
        margin: 30px 0px;
    }
    .product-categorie-box {
        margin: 30px 0px;
    }
    .toolbar-sorter-right .bootstrap-select.form-control:not([class*="col-"]) {
        width: 70%;
    }
    .add-comp a {
        margin-bottom: 30px;
    }
    .add-to-btn .share-bar {
        float: none;
    }
    .contact-info-left {
        margin-bottom: 30px;
    }
    .right-phone-box {
        display: none;
    }
}
@media (max-width: 767px) {
    nav.navbar.bootsnav .navbar-header {
        width: 80%;
    }
    .navbar-light .navbar-toggler {
        border-color: #d33b33;
        color: #010101;
        border-radius: 0px;
        margin-right: 7px;
        padding-top: 6px;
        padding-top: 6px;
        float: left;
        margin-top: 20px;
    }
    nav.navbar.bootsnav ul.nav > li > a {
        padding: 5px 15px;
    }
    nav.navbar.bootsnav .navbar-nav {
        padding: 0px;
        margin: 0px;
    }
    .cover-slides h1 {
        font-size: 28px;
    }
    .cover-slides p {
        font-size: 16px;
    }
    .cover-slides p a {
        font-size: 18px;
    }
    .offer-box li i {
        font-size: 18px;
    }
    .offer-box li {
        font-size: 12px;
    }
    .custom-select-box {
        display: none;
    }
    .right-phone-box,
    .our-link {
        float: none;
        text-align: center;
    }
    .filter-button-group button {
        font-size: 14px;
        padding: 5px 18px;
    }
    .title-blog h3 {
        font-size: 16px;
    }
    .footer-widget {
        margin-bottom: 30px;
    }
    .footer-link {
        margin-bottom: 30px;
    }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu {
        position: initial !important;
        top: 0px;
    }
    .col-menu .title {
        font-size: 16px;
    }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:hover {
        color: #d33b33;
    }
    .hover-team {
        margin-bottom: 30px;
    }
    .product-categori {
        margin-bottom: 30px;
    }
    .product-item-filter .toolbar-sorter-right {
        width: 100%;
    }
    .product-item-filter p {
        float: none;
    }
    .product-item-filter {
        margin: 30px 0px;
    }
    .product-categorie-box {
        margin: 30px 0px;
    }
    .toolbar-sorter-right .bootstrap-select.form-control:not([class*="col-"]) {
        width: 70%;
    }
    .why-text.full-width h4 {
        font-size: 20px;
    }
    .coupon-box {
        margin-bottom: 30px;
    }
    .update-box input[type="submit"] {
        margin-right: 0px;
    }
    .single-product-slider {
        margin-bottom: 30px;
    }
    .single-product-details h2 {
        font-size: 18px;
    }
    .add-comp a {
        margin-bottom: 30px;
    }
    .add-to-btn .share-bar {
        float: none;
    }
    .contact-info-left {
        margin-bottom: 30px;
    }
    .attr-nav {
        top: 15px;
    }
    .right-phone-box {
        display: none;
    }
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
    .navbar-light .navbar-toggler {
        border-color: #d33b33;
        color: #010101;
        border-radius: 0px;
        margin-right: 7px;
        padding-top: 6px;
    }
    nav.navbar.bootsnav ul.nav > li > a {
        padding: 5px 15px;
    }
    nav.navbar.bootsnav .navbar-nav {
        padding: 0px;
        margin: 0px;
    }
    .cover-slides h1 {
        font-size: 28px;
    }
    .cover-slides p {
        font-size: 16px;
    }
    .cover-slides p a {
        font-size: 18px;
    }
    .offer-box li i {
        font-size: 11px;
    }
    .offer-box li {
        font-size: 9px;
    }
    .custom-select-box {
        display: none;
    }
    .right-phone-box,
    .our-link {
        float: none;
        text-align: center;
    }
    .filter-button-group button {
        font-size: 14px;
        padding: 5px 18px;
    }
    .title-blog h3 {
        font-size: 16px;
    }
    .footer-widget {
        margin-bottom: 30px;
    }
    .footer-link {
        margin-bottom: 30px;
    }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu {
        position: initial !important;
        top: 0px;
    }
    .col-menu .title {
        font-size: 16px;
    }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:hover {
        color: #d33b33;
    }
    .hover-team {
        margin-bottom: 30px;
    }
    .product-categori {
        margin-bottom: 30px;
    }
    .product-item-filter .toolbar-sorter-right {
        width: 100%;
    }
    .product-item-filter p {
        float: none;
    }
    .product-item-filter {
        margin: 30px 0px;
    }
    .product-categorie-box {
        margin: 30px 0px;
    }
    .toolbar-sorter-right .bootstrap-select.form-control:not([class*="col-"]) {
        width: 70%;
    }
    .why-text.full-width h4 {
        font-size: 20px;
    }
    .coupon-box {
        margin-bottom: 30px;
    }
    .update-box input[type="submit"] {
        margin-right: 0px;
    }
    .single-product-slider {
        margin-bottom: 30px;
    }
    .single-product-details h2 {
        font-size: 18px;
    }
    .add-comp a {
        margin-bottom: 30px;
    }
    .add-to-btn .share-bar {
        float: none;
    }
    .contact-info-left {
        margin-bottom: 30px;
    }
    .right-phone-box {
        display: none;
    }
}
@media (min-width: 1024px) {
    nav.navbar ul.nav > li > a {
        padding: 30px 15px;
        font-weight: 600;
    }
    nav.navbar .navbar-brand {
        margin-top: 0;
    }
    nav.navbar .navbar-brand {
        margin-top: 0;
    }
    nav.navbar li.dropdown ul.dropdown-menu {
        border-top: solid 5px;
    }
    nav.navbar-center .navbar-brand {
        margin: 0 !important;
    }
    nav.navbar-brand-top .navbar-brand {
        margin: 10px !important;
    }
    nav.navbar-full .navbar-brand {
        position: relative;
        top: -15px;
    }
    nav.navbar.bootsnav.no-background.white .attr-nav > ul > li > a,
    nav.navbar.bootsnav.no-background.white ul.nav > li > a {
        color: #fff;
    }
}
@media (max-width: 992px) {
    nav.navbar .navbar-brand {
        margin-top: 0;
        position: relative;
        top: -2px;
    }
    nav.navbar .navbar-brand img.logo {
        width: 160px;
    }
    .attr-nav > ul > li > a {
        padding: 16px 15px 15px;
    }
    nav.navbar.navbar-mobile ul.nav > li > a {
        padding: 15px 15px;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu > li > a {
        padding-right: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title {
        padding-right: 30px !important;
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
    nav.navbar.navbar-mobile
        ul.nav
        ul.dropdown-menu
        .col-menu
        ul.menu-col
        li
        a {
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
    nav.navbar.navbar-inverse
        .dropdown
        .megamenu-content
        .col-menu.on:last-child
        .title {
        border-bottom: solid 1px #303030;
    }
    nav.navbar-full .navbar-brand {
        top: 0;
        padding-top: 10px;
    }
}
@media only screen and (max-width: 480px) {
    button.navbar-toggler {
        margin-left: 15px;
    }
    nav.navbar.bootsnav ul.nav > li > a {
        padding: 5px 15px !important;
    }
    .navbar {
        padding-left: 0;
    }
    .course-hover-box {
        height: 350px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    div#offer-box {
        padding: 10px 0;
    }
    div#offer-box ul.offer-box {
        padding: 0;
    }
    .cover-slides {
        height: 37vh !important;
    }
    #slides-shop p.m-b-40 {
        display: none;
    }
    .products-box {
        display: none;
    }
    .slider-layer-box {
        background: 0 0 !important;
    }
    .offer-box li a:nth-child(2) {
        border: none;
    }
    .offer-box li a:nth-child(3) {
        display: none;
    }
    .offer-box li a:nth-child(4) {
        display: none;
    }
    .offer-box li a:nth-child(5) {
        display: none;
    }
    .custom-select-box {
        display: block !important;
        float: left;
    }
    .custom-select-box {
        display: flex !important;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .attr-nav {
        position: initial;
        left: auto !important;
        float: none;
        top: 0 !important;
    }
    .attr-nav > ul {
        margin: 0 !important;
    }
    .counter-box img {
        height: 40px;
    }
    .mobile_1 {
        display: none;
    }
    .mobile_2 {
        padding-top: 10px;
    }
    .counter-box {
        margin: 8px 0;
    }
    .side .close-side {
        right: 20px;
    }
    nav.navbar.bootsnav .navbar-nav > li {
        width: 94%;
    }
    .fa-close:before,
    .fa-times:before {
        opacity: 0.5;
    }
    .top-search .input-group-addon.button-box-search {
        width: 50px;
    }
    .hading-subhading h3 {
        font-size: 20px !important;
    }
    .main-top {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 999;
    }
    .main-header {
        margin-top: 52px;
    }
    .footer-main {
        padding-bottom: 20px !important;
    }
}
